@media screen and (min-width: 768px) {
  .mobile-top-wrapper {
    display: none;
  }

  .desktop-navbar-top {

    .top-nav-wrapper {
      display: flex;
    }
  
  }

  .desktop-navbar-top {
    opacity: 0;
    display: flex;
    position: fixed;
    z-index: 1000000;
    top:0px;
    width:100%;
    margin: 0 auto;
    background-color:rgba(255, 255, 255, 0.9);
    height:85px;
    transition: all 1s ease-in-out;

    a {
      text-decoration: none !important;
      margin: auto 0;
      color:black;
      font-family: 'BebasNeue';
    }
  }

  .show-menu {
    display: flex;
    opacity: 1;
    transition: all 1s ease-in-out;

    a {
      text-decoration: none !important;
      margin: auto 0;
      color:black;
      font-family: 'BebasNeue';
    }
  }

  .top-nav-wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    transition: all 1s ease-in-out;

    img {
      width: auto;
      height:34px;
      margin: auto 0;
    }
  }

    .logistics_image {
        margin-top:7%;
        height:auto;
        width:100%;
        margin-left:auto;
        margin-right:auto;
        display: flex;
        
    }
    .section_31_content {
        display:none;
    }
        
        #section_5_scroll {
            margin-top:0 !important;
            padding-top:60px !important;
            
        }
        
        .tall_line {
            width:1px;
            height:65%;
            background-color:#000;
            position: absolute;
            bottom:10%;
            left:50%;
        }
        
        .section_31_text_wrapper {
            width:100%;
        }
        
        .section_31_text_wrapper p {
        line-height: 20px;
        font-size: 14px;
        font-family: 'Quicksand', sans-serif;
        margin: 0;
        font-weight: 400;
    }
    
        .section_31_content_tablet {
            width: 100%;
        }
        
    .section_31_tablet_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        width:80%;
        margin: 0 auto;
        }
    
        
    #left:hover {
      background: #063849;
      /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(left top, #B7C1BE, #587F88);
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(bottom right, #B7C1BE, #587F88);
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(bottom right, #B7C1BE, #587F88);
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(to bottom right, #B7C1BE, #587F88);
      /* Standard syntax */
    }
    
    
    #right:hover {
      background: #063849;
      /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(left top, #0A4F67, #052E3C);
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(bottom right, #0A4F67, #052E3C);
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(bottom right, #0A4F67, #052E3C);
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(to bottom right, #0A4F67, #052E3C);
      /* Standard syntax */
    }
    
      #election_showcase_page_logo {
        width: 160px;
        height: auto;
        margin: 50px 0px 0px 10%;
      }
      .choose_collect img {
        display: flex;
      }
      .election_showcase_background_image {
        background-image: url(../../img/white_mobile_election_showcase_page_background.png);
        background-size: cover;
        background-position: center;
        height: 65vh;
        width: 100%;
      }
      .election_showcase_text_wrapper {
        width: 30%;
        display: flex;
        flex-direction: column;
        margin: 50px auto 0px auto;
      }
      .election_showcase_logo {
        height: auto;
        width: 150px;
        margin-top: 50px;
        margin-left: 50px;
      }
      #election_cross {
        height: 15px;
        width: auto;
        z-index: 2;
        transition: all 0.3s ease-in-out;
        position: absolute;
        top: 60px;
        right: 60px;
      }
      #election_blue_cross {
        height: 15px;
        width: auto;
        opacity: 1;
        z-index: 1;
        position: absolute;
        top: 60px;
        right: 60px;
      }
      .icon_in_text {
        width: auto;
        height: 30px;
        margin-top: 115px;
        margin-left: 30px;
      }
      #election_showcase_text_wrapper {
        width: 50%;
        margin-left: 10%;
      }
      #election_showcase_text_wrapper p {
        color: white;
        font-family: 'Quicksand', sans-serif;
        font-size: 14px;
        line-height: 20px;
      }
      .election_showcase_page_background h1 {
        font-family: 'BebasNeue';
        font-size: 21px;
        line-height: 25px;
        letter-spacing: 3px;
        font-weight: 200;
        margin-top: 120px;
        color: white;
      }
      .election_showcase_page_background {
        background-image: url(../../img/white_election_showcase_page_background.png);
        background-size: cover;
        background-position: center;
        height: 92.5vh;
        width: 100%;
        position: relative;
      }
      #logo_choose {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: auto;
        width: 200px;
        cursor: pointer;
      }
      .ballot_boxes_text_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 30px;
      }
      .left_product_page_tablet_divider {
        display: flex;
        width: 35%;
      }
      .right_product_page_tablet_divider {
        display: flex;
        width: 35%;
      }
      #security_seals {
        background-image: url(../../img/security.jpg);
        height: 50vh;
        width: 100%;
        background-position: top center;
        background-size: contain;
        }
      #ballot_boxes {
        background-image: url(../../img/box.jpg);
        height: 50vh;
        width: 100%;
        background-position: top center;
        background-size: contain;
        }
      #voters_ink {
        background-image: url(../../img/ink.jpg);
        height: 50vh;
        width: 100%;
        background-position: top center;
        background-size: contain;
        }
      #voting_screen {
        background-image: url(../../img/voting_screen.jpg);
        height: 50vh;
        width: 100%;
        background-position: top center;
        background-size: contain;
        }
      #voting_kit {
        background-image: url(../../img/pen.jpg);
        height: 50vh;
        width: 100%;
        background-position: top center;
        background-size: contain;
        }
      #extra {
        background-image: url(../../img/extra.jpg);
        height: 50vh;
        width: 100%;
        background-position: top center;
        background-size: contain;
        }
      .product_section_2 h1 {
        margin-top: 70px;
      }
      .section_2_product_box {
        margin-bottom: 0px !important;
      }
      #section_2_bodytext p {
        margin: 0px auto 40px;
        font-weight: 400 !important;
      }
      .section_2_product_box i {
        text-align: center;
        margin-top: 35px;
        margin-bottom: 0;
        font-size: 25px;
      }
      #section_2_scroll {
        padding-top: 30px !important;
      }
      #section_4 p {
        width: 80%;
        margin: 0 auto;
        font-family: 'Quicksand', sans-serif;
        text-align: center;
        font-size: 13px;
        line-height: 20px;
      }
      .section_2_product_box p {
        text-align: center;
        margin: 15px 0 0;
        line-height: 15px !important;
        font-weight: 100;
      }
      footer p {
        font-size: 8px;
      }
      .email_span {
        margin-top: 20px;
        margin-bottom: 0px;
        font-family: 'Quicksand', sans-serif;
        text-align: center;
        font-size: 12px;
        line-height: 20px;
        font-weight: 100;
      }
      .tele_span {
        margin-top: 5px;
        font-family: 'Quicksand', sans-serif;
        text-align: center;
        font-size: 12px;
        line-height: 20px;
      }
      #image_1 {
        display: none;
      }
      #image_2 {
        display: none;
      }
      #image_3 {
        display: none;
      }
  
      #go_to {
        right: 5%;
      }
      #trademark {
        left: 8%;
      }
      #desktop_nav_li {
        display: flex;
        margin-top: 25px;
        flex-direction: row;
        width: 90%;
        justify-content: space-between;
        list-style: none;
        animation: 1s 0.7s ease-in 1 forwards fadeIn;
        opacity: 0;
      }
      .burger-container {
        display: none !important;
      }
      #desktop_nav_li a {
        font-size: 16px;
      }
      #desktop-nav {
        width: 72%;
        padding: 18vh 0px;
      }
      .mobile_section_3 {
        display: none;
      }
      #section_2 p {
        font-size: 13px;
        line-height: 20px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 100;
      }
      .headline_center_div {
        margin: 90px auto 60px;
        padding-top: 30px;
        display: flex;
        justify-content: center;
      }
      #section_1 {
        background-image: url(../../img/mobile_hand.jpg);
        background-position: center;
        background-size: cover;
      }
      #left {
        width: 50%;
        height: 100vh;
      }
      #right {
        width: 50%;
        height: 100vh;
      }
      #choose_election {
        width: 50%;
        height: 100vh;
      }
      #choose_trading {
        width: 50%;
        height: 100vh;
      }
      .choose_collect i {
        display: block;
        font-size: 23px;
        margin: 56px auto 26px;
        color: white;
        animation: ease-in 1 forwards fadeIn;
        /* kalder på vores keyframe "fadeIn", easer den ind og gentager den 1 gang */
        /* Forwards = Efter animationen er færdig, så bliver vi på vores sidste keyframe */
        animation-duration: 2s;
        animation-delay: 0.5s;
        opacity: 0;
      }
      #product_showcase {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        height: 130px;
        width: 50%;
        background-color: white;
        position: absolute;
        bottom: -65px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 1px 1px 30px 0.3px #888888;
        font-family: 'Quicksand', sans-serif;
        font-weight: 100;
        animation: 1s 1s ease-in 1 forwards fadeIn;
        opacity: 0;
      }
      .products_box {
        display: flex;
        flex-direction: column;
        width: 30%;
        text-align: center;
      }
      .products_box i {
        font-size: 23px;
        margin: 26px auto 0px;
        padding-left: -2px;
      }
      .products_box p {
        font-size: 13px;
        margin: 0;
        text-align: center;
      }
      .icon_blue_underline {
        width: 15%;
        height: 1.2px;
        background-color: #76C6E8;
        margin: 8px auto 13px;
      }
      .product_box_text_wrapper {
        display: flex;
        flex-direction: column;
        margin: 30px auto 0px;
        width: 80%;
      }
      .section_2_product_box {
        height: 200px;
        width: 100%;
        cursor: pointer;
        transition: all 0.3s ease-in;
      }
      .section_2_product_box .button {
        transition: all 0.3s ease-in;
      }
      #tablet_product_box_wrapper {
        display: flex;
        flex-direction: column;
      }
      #product_box_wrapper {
        display: none;
      }
      #tablet_section_3 {
        display: flex;
        width: 80%;
        margin: 0 auto 50px;
        position: relative;
      }
      #section_3 h1 {
        margin-bottom: 80px;
      }
      .section_3_quote_box {
        height: 200px;
        width: 45%;
        margin: 0;
        position: absolute;
        background-color: white;
        right: 0;
      }
      .blue_box {
        display: flex;
        position: absolute;
        right: 10%;
        top: 25%;
        z-index:0;
        width: 45%;
        height: 200px;
        border: 2px solid #76C6E8;
        box-shadow: 0.5px 0.5px 50px 0.5px #d9d9d9;
        background-color: #76C6E8;
      }
      .fa-remove:before, .fa-close:before, .fa-times:before {
        font-weight: 100;
      }
      .tablet_individual_product_box_wrapper {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: 0 auto;
        justify-content: space-around;
      }
      .blockquote p {
        font-size: 13px;
        line-height: 20px;
        font-weight: 700;
      }
      #tablet_section_3_text_wrapper p {
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
        font-size: 13px;
        margin: 0;
        line-height: 20px;
      }
      #tablet_section_3_text_wrapper {
        width: 40%;
      }
      .blockquote2:before {
        display: block;
        content: "\201C";
        font-size: 80px;
        position: absolute;
        top: 10px;
        right: -30px;
        color: #76C6E8;
      }
      #section_4_image_wrapper {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
      #section_4 h1 {
        margin-bottom: 100px;
      }
      .section_4_hidden_text {
        display: flex;
        flex-direction: column;
        margin: 30px auto 0;
        text-align: center;
        width: 100%;
        font-weight: 100;
      }
      .section_4_close {
        display: flex;
        justify-content: center;
        border-radius: 1000px;
        border: 1px solid #000;
        width: 30px;
        height: 30px;
        margin: 30px auto 0px;
        cursor: pointer;
      }
      .section_4_close i {
        font-size: 15px;
        margin: auto;
        margin-top: 6.5px;
      }
      .section_4_hidden_text p {
        text-align: center;
      }
      #section_5_social_media_wrapper {
        display: flex;
        flex-direction: column;
        margin: 0 auto 50px;
        width: 80%;
      }
      #section_5_social_media_wrapper i {
        font-size: 20px;
        margin-top: 20px;
      }
      .social_media_individual_wrapper {
        display: flex;
        flex-direction: row !important;
        justify-content: space-around;
        width: 80%;
        margin: 0 auto;
      }
      .social_media_individual_wrapper i {
        text-align: center;
      }
      #section_4_intro_text {
        width: 80%;
      }
      #section_5_social_media_wrapper {
        display: none;
      }
      .tablet_section_5_social_media_wrapper {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: 50px auto 30px;
        justify-content: space-around;
      }
      .tablet_social_media_individual_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
      .tablet_social_media_individual_wrapper p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-family: 'Quicksand', sans-serif;
        font-weight: 100;
        font-size: 13px;
      }
      .tablet_social_media_individual_wrapper i {
        font-size: 20px;
      }
      .section_2_product_box img {
        text-align: center;
        margin-top: 35px;
        margin-bottom: 0px;
        width: 25px;
        height: auto;
      }
      #section_2_image_1_tablet {
        background-image: url(../../img/box.jpg);
        background-position: center;
        
      }
      #section_2_image_2_tablet {
        background-image: url(../../img/pen.jpg);
        background-position: center;
      }
      #section_2_image_3_tablet {
        background-image: url(../../img/voting_screen.jpg);
        background-position: center;
      }
      #section_2_image_4_tablet {
        background-image: url(../../img/ink.jpg);
        background-position: center;
      }
      #section_2_image_5_tablet {
        background-image: url(../../img/security.jpg);
        background-position: center;
      }
      #section_2_image_6_tablet {
        background-image: url(../../img/extra.jpg);
        background-position: center;
      }
      .product_image_tablet {
        display: flex;
        width: 100%;
        height: 130px;
        margin: 0px auto -10px;
        background-size: cover;
        position: relative;
        z-index: 100;
        box-shadow: 0.5px 0.5px 50px 0.5px #d9d9d9;
      }
      .section_2_product_wrapper {
        display: flex;
        flex-direction: column;
        width: 30%;
      }
      .product_section_1 {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
      }
        
        #individual_product_box_wrapper_1 {
            margin-bottom:35px;
        }
        
          /* SECTION 4 STARTS HERE */
      #section_4 {
        width: 100%;
        padding-bottom:60px !important;
      }
    }