.orange_underline {
    background-color: #F6A623 !important;
}

*:hover{
    text-decoration: none !important;
}

.orange {
    border: 2px solid #F6A623;
    }

.orange-color:before {
    color: #F6A623;
    }

.orange-background {
    background-color:#F6A623 !important;
    }

.trading-contact .send{
    background-color:#F6A623 !important;
    }
    

#up_arrow_trading {
    position: fixed;
    width:40px;
    height:auto;
    bottom:35px;
    right:35px;
    z-index: 10000;
    cursor: pointer;
    display: none;
}

.trading-image-1 {
    background-image: url('../../img/water.jpg') !important;
    }
.trading-image-2 {
    background-image: url('../../img/energy.jpg') !important;
    }
.trading-image-3 {
    background-image: url('../../img/construction.jpg') !important;
    }
.trading-image-4 {
    background-image: url('../../img/machinery.jpg') !important;
    }
.trading-image-5 {
    background-image: url('../../img/office.jpg') !important;
    }

.trading-image-6 {
    background-image: url('../../img/iscellenous.jpg') !important;
    }

footer {
    display:flex !important;
}

.section_4_close {
    display:none !important;
}

.orange-cascade {
    a {
        transition: 0.5s ease-in-out;
        &:hover{
            color: #F6A623;
            transition: 0.5s ease-in-out;
        }
    }
}

.trading-menu:hover {
    color: #F6A623 !important;
    transition: 0.5s ease-in-out !important;
    }

    .orange_box {
        display: flex;
        position: absolute;
        right: 10%;
        top: 25%;
        z-index:0;
        width: 45%;
        height: 200px;
        border: 2px solid #F6A623;
        box-shadow: 0.5px 0.5px 50px 0.5px #d9d9d9;
        background-color: #F6A623;
    }


#water {
  background-image: url(../../img/Lwater.jpg);
  height: 50vh;
  width: 100%;
  background-position: top center;
  background-size: contain;
}
#energy {
  background-image: url(../../img/Lenergy.jpg);
  height: 50vh;
  width: 100%;
  background-position: top;
  background-size: contain;
    }

#Lconstruction {
  background-image: url(../../img/Lconstruction.jpg);
  height: 50vh;
  width: 100%;
  background-position: top center;
  background-size: contain;
    }

#machinery {
  background-image: url(../../img/Lmachinery.jpg);
  height: 50vh;
  width: 100%;
  background-position: top center;
  background-size: contain;
    }

#office-supply {
  background-image: url(../../img/Lpen.jpg);
  height: 50vh;
  width: 100%;
  background-position: top center;
  background-size: contain;
    }

#extraz {
  background-image: url(../../img/Lextraz.jpg);
  height: 50vh;
  width: 100%;
  background-position: top center;
  background-size: contain;
    }


.trading-product-list {
        li {
            margin-top:10px;
            font-size: 14px;
            font-family: 'Quicksand', sans-serif;
            width:100%;
        }

}
@media screen and (max-width: 768px) {

#water {
  background-image: url(../../img/Lwater.jpg);
  height: 50vh;
  width: 100%;
  background-position: top center;
  background-size: cover;
}
#energy {
  background-image: url(../../img/Lenergy.jpg);
  height: 50vh;
  width: 100%;
  background-position: top;
  background-size: cover;
    }

#Lconstruction {
  background-image: url(../../img/Lconstruction.jpg);
  height: 50vh;
  width: 100%;
  background-position: top center;
  background-size: cover;
    }

#machinery {
  background-image: url(../../img/Lmachinery.jpg);
  height: 50vh;
  width: 100%;
  background-position: top center;
  background-size: cover;
    }

#office-supply {
  background-image: url(../../img/Lpen.jpg);
  height: 50vh;
  width: 100%;
  background-position: top center;
  background-size: cover;
    }

#extraz {
  background-image: url(../../img/Lextraz.jpg);
  height: 50vh;
  width: 100%;
  background-position: top center;
  background-size: cover;
    }
}