.orange_underline {
    background-color: #48BB6E !important;
}

*:hover{
    text-decoration: none !important;
}

.orange {
    border: 2px solid #48BB6E;
    }

.orange-color:before {
    color: #48BB6E;
}

.orange-background {
    background-color:#48BB6E !important;
}

.trading-contact .send{
    background-color:#48BB6E !important;
}
    

#up_arrow_trading {
    position: fixed;
    width:40px;
    height:auto;
    bottom:35px;
    right:35px;
    z-index: 10000;
    cursor: pointer;
    display: none;
}

.trading-image-1 {
    background-image: url('../../dist/img/water.jpg') !important;
    }
.trading-image-2 {
    background-image: url('../../dist/img/energy.jpg') !important;
    }
.trading-image-3 {
    background-image: url('../../dist/img/construction.jpg') !important;
    }
.trading-image-4 {
    background-image: url('../../dist/img/machinery.jpg') !important;
    }
.trading-image-5 {
    background-image: url('../../dist/img/office.jpg') !important;
    }

.trading-image-6 {
    background-image: url('../../dist/img/iscellenous.jpg') !important;
    }

footer {
    display:flex !important;
}

.section_4_close {
    display:none !important;
}

.orange-cascade {
    a {
        transition: 0.5s ease-in-out;
        &:hover{
            color: #48BB6E;
            transition: 0.5s ease-in-out;
        }
    }
}

.trading-menu:hover {
    color: #48BB6E !important;
    transition: 0.5s ease-in-out !important;
    }

    .orange_box {
        display: flex;
        position: absolute;
        right: 10%;
        top: 10%;
        z-index:0;
        width: 45%;
        height: 200px;
        border: 2px solid #48BB6E;
        box-shadow: 0.5px 0.5px 50px 0.5px #d9d9d9;
        background-color: #48BB6E;
    }


#water {
  background-image: url(../../dist/img/Lwater.jpg);
  height: 50vh;
  width: 100%;
  
  background-size: cover;
}
#energy {
  background-image: url(../../dist/img/Lenergy.jpg);
  height: 50vh;
  width: 100%;
  background-position: top;
  background-size: cover;
    }

#Lconstruction {
  background-image: url(../../dist/img/Lconstruction.jpg);
  height: 50vh;
  width: 100%;
  
  background-size: cover;
    }

#machinery {
  background-image: url(../../dist/img/Lmachinery.jpg);
  height: 50vh;
  width: 100%;
  
  background-size: cover;
    }

#office-supply {
  background-image: url(../../dist/img/Lpen.jpg);
  height: 50vh;
  width: 100%;
  
  background-size: cover;
    }

#extraz {
  background-image: url(../../dist/img/Lextraz.jpg);
  height: 50vh;
  width: 100%;
  
  background-size: cover;
    }


.trading-product-list {
        li {
            margin-top:10px;
            font-size: 16px;
            font-family: 'Quicksand', sans-serif;
            width:100%;
        }

}
@media screen and (max-width: 768px) {

#water {
  background-image: url(../../dist/img/Lwater.jpg);
  height: 50vh;
  width: 100%;
  
  background-size: cover;
}
#energy {
  background-image: url(../../dist/img/Lenergy.jpg);
  height: 50vh;
  width: 100%;
  background-position: top;
  background-size: cover;
    }

#Lconstruction {
  background-image: url(../../dist/img/Lconstruction.jpg);
  height: 50vh;
  width: 100%;
  
  background-size: cover;
    }

#machinery {
  background-image: url(../../dist/img/Lmachinery.jpg);
  height: 50vh;
  width: 100%;
  
  background-size: cover;
    }

#office-supply {
  background-image: url(../../dist/img/Lpen.jpg);
  height: 50vh;
  width: 100%;
  
  background-size: cover;
    }

#extraz {
  background-image: url(../../dist/img/Lextraz.jpg);
  height: 50vh;
  width: 100%;
  
  background-size: cover;
    }
}

.trading_button {
    background-color: #48BB6E !important;
}

.trading_button {

    }